body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5em;
}

main div {
  padding-bottom: 2.5em;
}

#authorbook {
  border-bottom: lightgray 2px solid;
  margin-left: 10px;
  font-weight: bold;
}

#articleContent {
  font-size: x-large;
}
