<h1 id="authorbook">{{authorbook}}</h1>
<div class="container-fluid">
  <div class="row">
    <article class="col-8" id="articleContent">
      {{{content}}}
    </article>
    <aside class="col-4">
      <img src={{img}}/>
    </aside>
  </img>
</div>