body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 3em;
}

main div {
  padding-bottom: 3em;
}

#authorbook {
  border-bottom: lightgray 2px solid;
  margin-left: 10px;
  font-weight: bold;
}

#articleContent {
  font-size: x-large;
  margin: 20px auto;
  padding: auto;
  max-width: 1000px;
}

#quote {
  font-size: xx-large;
  display: inline-block;
  background-color: #6B5840;
  color: whitesmoke;
  margin-bottom: 5px;
}

#hmimg {
  text-align: center;
}

aside img {
  width: 100%;
  height: auto;
}

#hmimg img {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  object-fit: cover;
}

.imageCaptions {
  font-size: x-small;
}